@import url(global.css);
* {
	margin: 0;
	padding: 0;
}

/* banner
--------------------------------------------------------------  */
.banner {
	height:350px;
	position: relative;
	padding-bottom: 10px;
	overflow:hidden;
}
.banner img {
	width: 983px; /*图片的宽度*/
	height: 350px; /*图片的高度*/
	overflow:hidden;
}

.advertisement{
 height:60px;
 padding:10px 0px;
 overflow:hidden;}


/*----------------------------列表模板样式-------------------------------*/




/*-----------公共调用------------*/


/*------标题部分------*/

.w983 .title{
   height:30px;
   line-height:30px;
  }
 
.w983 .title h2{ 
   display:block;
   }
 
.w983 .title h2 a{  
   font-size:14px;
   color:#fff;
   display:block;
   float:left;
   padding-left:10px;  
   font-weight: bold;    
   }
 
.w983 .title h2 a:hover{
    color:#FF0000  
   }

.w983 .title span{
   display:block;
   float:right;
   padding-right:10px;
   }
 
.w983 .title span a{ 
   font-size:12px;
   color:#FFFFFF;
 }
 
.w983 .title span a:hover{ 
   color:#FF0000;
 }
 

/*-----内容部分-------*/


.w983  ul{
   height:100%;
   overflow:hidden;
   border-top:none;
   }
  
.w983  ul li{
   display:block;
   float:left;
   }  

.w983 ul li a{
   font-size:12px;
   color:#666;
   }
  
.w983 ul li a:hover{
   color:#ff0000;
   }  

.w983 ul li span{
   display:block;
   float: right;
   font-size:12px;
   color:#999;
  } 
 

/*-----------公共调用结束------------*/ 
 
 

/*-----二级导航列表样式(1)------*/					 
 

.list_1{
   width:203px;
   height:100%;
   overflow:hidden;
 }
 
.list_1 .title{ 
   background:#ff0000  url(../images/lmbj.jpg) repeat-x;
   margin-bottom:10px;
  }

.list_1 h3{
	height:30px;
	line-height:30px;
	background-color:#666666;
	text-indent: 15px;
 }  

.list_1 h3 a{
  font-size:12px;
  color:#FFFFFF;  
 } 
 
.list_1  ul{
   border-top:none;
   padding:8px 0px;
   background-color:#efefef;
   } 
  
.list_1 ul li {
  white-space:nowrap;
  width:100px;
     }  

.list_1 ul li a{ 
   height:30px;
   line-height:30px;
   padding-left:10px;
   }  
         
      
 
/*-----文章样式(2)------*/		

.list_2{
   width:340px;
   height:337px;
   float:right;
   margin-top:10px;
   padding-top:8px;
   overflow:hidden;
   border:1px solid #dedede;
 }
 
.list_2  .title h2 a{
  color:#333333;  
 }
 
.list_2  .title span a{
  color:#666;  
 }

.list_2  ul{
   border-top:none;
   padding:3px 10px 10px 10px;
   } 
   
 .list_2 ul li {
  width:100%;
  height:24px;
  line-height:24px;
  color:#666666;
  }  

/*-----图文列表样式(3)------*/		

.list_3{
   width:348px;
   height:100%;
   overflow:hidden; 
   margin-left:10px;
   border:1px solid #dedede;
 }
 
.list_3 .title{   
   background:#e9e9e9;
   border-bottom:1px solid #CCCCCC;   
 }
 
.list_3 .title h2 a{
  color:#333333; 
 }
 
.list_3 .title1{
   width:338px;
   height:30px;
   line-height:30px;
   padding-top:10px;
   padding-left:10px;
   background:url(../images/bj4.jpg) repeat-x bottom;
 }

.list_3 .title1 h3{
   height:29px;
   width:80px;
   font-size:12px;
   line-height:29px;
   text-align:center;
   margin-right:5px;
   float:left;
   border:1px solid #dedede;
   border-bottom:none;
   background:#f7f7f7 url(../images/bj4.jpg) repeat-x bottom;     
 }
 
.list_3 .title1 #h3{
   background:#fff;
 }

.list_3 .title1 span a{
  color:#666;
  float:right;
  padding-right:10px; 
 }
 
.list_3  ul{
   width:348px;
   border-top:none;
   padding:10px 0px 10px 0px;
   }  
 
.list_3  .t1{
   width:328px;
   margin:0 auto;
   overflow:hidden;
   padding-bottom:10px;
   margin-bottom:7px;
   border-bottom:1px solid #dedede;
   }
 
.list_3  .t1 img{
   width:80px;
   height:60px;
   padding:0px 10px 0px 0px;
   display:block;
   float:left;}
   
.list_3   .t1 h3 {
    height:22px;
	font-size:12px;
	overflow:hidden;
	font-weight: bold;
	overflow:hidden;
	margin:0px 10px 0px 0px;
   }
   
.list_3  .t1 p {
   font-size:12px;
   line-height:20px;
   color:#666;
   }
   
.list_3  .t1 p a{
   color:#666666;
    }
	
.list_3  .t1 p a:hover{
   color:#ff3300;
    }	
	
.list_3 .list_3_bottom{
  width:348px;
  overflow:hidden;
  border-top:none;
}				
  
.list_3 ul li{
  width:338pxssss;
  height:24px;
  line-height:24px;
  padding-right:10px;
  }  

.list_3 ul li a{
  display:block;
  float:left;
  padding-left:20px; 
  background:url(../images/icon_1.jpg) no-repeat 10px 9px;
  }
  
.list_3 ul li a:hover{
  background:url(../images/icon_2.jpg) no-repeat 10px 9px;
  }  
   
 
/*-----样式(5)------*/		

.list_5{
   width:342px;
   height:100%;
   overflow:hidden;
 }
 
.list_5 .title{
   background:#e9e9e9;
   border:1px solid #dedede;
 }
 
.list_5 .title h2 a{
   color:#333333;
 }
 
.list_5 .title span a{
   color:#666;
 }
     
.list_5  .title_1{
   height:100px;
   padding:0px 10px;
   overflow:hidden;
   }
   
.list_5  ul{
   border:1px solid #dedede;
   border-top:none;
   padding:10px 0px 10px 0px;
   } 
 
.list_5  .title_1 img{
   width:100%;
   height:90px;
   display:block;
   float:left;}
     
.list_5 ul li{
  width:100%;
  height:24px;
  line-height:24px;
  }  

.list_5 ul li a{
  display:block;
  float:left;
  padding-left:20px;
  background:url(../images/icon_1.jpg) no-repeat 10px 9px;
  }
  
.list_5 ul li a:hover{
  background:url(../images/icon_2.jpg) no-repeat 10px 9px;
  }   

/*-----样式(6)------*/		

.list_6{
   width:270px;
   height:100%;
   overflow:hidden;
 }
 
.list_6 .title{
   height:38px;
   line-height:38px;
   border:1px solid #dedede;
   background:#eee  url(../images/lmbj1.jpg) repeat-x;
  }
 
.list_6 .title h2{ 
   display:block;
   }
 
.list_6 .title h2 a{  
   font-size:14px;
   color:#333;
   display:block;
   float:left;
   padding-left:10px;  
   font-weight: bold;    
   }

.list_6 .title span a{
   color:#666666;
   }


.list_6 .list_6_bottom{
  width:270px;
  overflow:hidden;
  border-top:none;
  }
   
.list_6 ul{
  height:100%;
  width:300px;
  border:none;
  overflow:hidden;
  padding:10px 0px 0px 0px;
  }
  
.list_6 ul li{
  width:130px;
  height:63px;
  padding-right:10px;
  } 
  
.list_6 ul li img{
  width:128px;
  height:53px;
  display:block;
  margin:0 auto;
  border:1px solid #dedede;
  } 	

      
/*-----样式(7)------*/		

.list_7{
   width:490px;
   height:100%;
   overflow:hidden;
 }
 
.list_7 .title{
   background:#eee  url(../images/lmbj.jpg) repeat-x;
 }


.list_7 .list_7_bottom{
  width:490px;
  overflow:hidden;
  border-top:none;
  }
   
.list_7 ul{
  height:100%;
  width:550px;
  border:none;
  overflow:hidden;
  padding:10px 0px 0px 10px;
  }
  
.list_7 ul li{
  width:230px;
  height:205px;
  padding-right:10px;
  } 
  
.list_7 ul li img{
  width:228px;
  height:171px;
  display:block;
  margin:0 auto;
  } 
  
.list_7 ul li span{
  width:228px;
  height:30px;
  float:left;
  line-height:30px;
  text-align:center;
  display:block;
  }     

/*-----样式(8)------*/		

.list_8{
   width:770px;
   height:100%;
   overflow:hidden;
 }
 
.list_8 .title{
   background:#eee  url(../images/lmbj.jpg) repeat-x;
 }

 
.list_8  .list_8_bottom{
  width:768px;
  overflow:hidden;
  border:1px solid #dedede;
  border-top:none;
}
 
.list_8 ul{
  height:100%;
  width:800px;
  overflow:hidden;
  border:none;
  padding:10px 0px 0px 10px;
  }
  
.list_8 ul li{
  height:170px;
  width:180px;
  padding-right:10px; 
  } 
  
.list_8 ul li img{
  height:135px;
  width:180px;
  display:block;
  margin:0 auto;
  } 

.list_8 ul li span{
   height:35px;
   width:180px;
   line-height:35px;
   text-align:center;
   display:block;   
   font-size:12px;
   color:#666;
  }

.list_8 ul li span a{
  font-size:12px;
  color:#666;
  }
  
.list_8 ul li span a:hover{
  color:#ff0000;
  }       

/*-----样式(9)------*/		


.list_9{
   width:270px;
   height:100%;
   overflow:hidden;
   float:right;
 }
 
.list_9 .title{
   background:#eee  url(../images/lmbj.jpg) repeat-x;
 }

 
.list_9  .list_9_bottom{
  width:268px;
  overflow:hidden;
  background-color:#f4f4f4;
  border:1px solid #dedede;
  border-top:none;
}
 
.list_9 ul{
  height:100%;
  width:280px;
  overflow:hidden;
  border:none;
  padding:20px 10px;
  }
  
.list_9 ul li{
  height:120px;
  width:120px;
  padding-right:10px; 
  } 
  
.list_9 ul li img{
  height:90px;
  width:120px;
  display:block;
  margin:0 auto;
  } 

.list_9 ul li span{
   height:35px;
   width:120px;
   margin:0 auto;
   line-height:35px;
   text-align:center;
   display:block;   
   font-size:12px;
   color:#666;
  }

.list_9 ul li span a{
  font-size:12px;
  color:#666;
  }
  
.list_9 ul li span a:hover{
  color:#ff0000;
  } 

   
  
/*-----样式(10)------*/		

.list_10{
   width:270px;
   height:291px;
   overflow:hidden;
   border:1px solid #dedede;
 }
 
.list_10 .title{
   background:#e9e9e9;
   border-bottom:1px solid #dedede;
 }

.list_10 .title h2 a{
  color:#333;
 }
 
.list_10 .title span a{
  color:#666;
 }
 
.list_10  ul{
   border-top:none;
   padding:10px 0px 10px 0px;
   } 
    
.list_10 .img{
  overflow:hidden;
  border-top:none;
  padding:10px;
  }

  
.list_10 .img img{
  width:250px;
  height:215px;  
  display:block;
  margin:0 auto;
  } 

.list_10 .img span{
   padding-top:10px;
   text-align:center;
   display:block;   
  }

.list_10 .img span a{
  font-size:12px;
  color:#666;
  }
  
.list_10 .img span a:hover{
  color:#ff0000;
  }



/*-----样式(11)------*/		

.list_11{
   width:603px;
   height:100%;
   float:right;
   overflow:hidden;
 }
 
.list_11 .title{
   height:38px;
   line-height:38px;
   border:1px solid #dedede;
   background:url(../images/lmbj1.jpg) repeat-x;   
 }
 
.list_11 .title h2 a{
   color:#333333;
 }

 .list_11 .title span a{
   color:#666;
 }
 
.list_11  ul{
   border-top:none;
   padding:10px;
   height:307px;
   border:1px solid #dedede;
   border-top:none;
   background:url(../images/bj1.jpg) no-repeat 10px 23px;
   } 
 
.list_11  li {
  width:550px;
  padding:10px 0px 10px 40px;
  border-bottom:1px dashed #dedede;
   }
 
.list_11  li img{
   width:80px;
   height:60px;
   padding:0px 10px 0px 10px;
   display:block;
   float:left;}
   
.list_11 li h3{
	height:20px;
	overflow:hidden;
	font-weight: bold;
	overflow:hidden;
	color:#333;
	margin:0px 10px 0px 0px;
   }
   
.list_11 li h3 a {
   	font-size:14px;
	color:#333;
   }
   
.list_11 li p {
   font-size:12px;
   line-height:20px;
   color:#666;
   padding-right:10px;
   } 
    
   
.list_11 li p a{
   color:#666666;
    }
	
.list_11  .title_1 p a:hover{
   color:#ff3300;
    }	
		

/*-----样式(12)------*/		

.list_12{
   height:220px;
   width:980px;
   overflow:hidden;
   margin-bottom:10px;
   margin:0 auto;
   background-color:#f9f9f9;
   border:1px solid #dedede;
 }
 
.list_12 .box{
   height:218px;
   width:996px;
   overflow:hidden;
   background-color:#f9f9f9;
   border:1px solid #fff;
 }
 
.list_12 .title{
   width:955px;
   height:15px;
   line-height:16px;
   background:none;
   padding:13px 10px 13px 10px;
 }
 
.list_12 .title h2 {
	background:none;
	color:#333333;
	font-size:14px;
	width:200px;
	display:block;
	float:left;
 }

.list_12 .title .button_left{
   float:right;
   width:18px;
   height:14px;
  }

.list_12 .title .button_right{
   float:right;
   width:18px;
   height:14px;} 
   
.list_12 .rollBox{
   width:956px;
   overflow:hidden;
   border-top:none;
   padding-left:11px;   
	}
	
.list_12 .rollBox .Cont{
    width:960px;
	overflow:hidden;	
	}
	
.list_12 .rollBox .ScrCont{
    width:10000000px;
	}
	
.list_12 .rollBox .Cont ul li{
   height:180px;
   width:180px;
   float:left;
   padding-right:14px; 
   }
  
   
.list_12 .rollBox .Cont ul li img{
  height:127px;
  width:172px;
  padding:3px;
  border:1px solid #dedede;
  display:block;
  margin:0 auto;
  background-color:#FFFFFF;
   }
   
.list_12 .rollBox .Cont ul li span{
   height:34px;
   width:178px;
   line-height:34px;
   text-align:center;
   display:block;   
   font-size:12px;
   color:#666;
   border-top:none;
   }
   
.list_12 .rollBox .Cont ul li span a{
  font-size:12px;
  color:#333;
  }
  
   
.list_12 .rollBox .Cont a{
    color:#333;
	}  
  	
.list_12 .rollBox .Cont a:hover{
    color:#f00;
	}
	
.list_12 .rollBox #List1,.rollBox #List2{
    float:left;
	}
 		



/*-----样式(13)------*/		

.list_13{
   width:370px;
   height:100%;
   float:left;
   overflow:hidden;
 }
 
.list_13 .title{
   background:#eee  url(../images/lmbj.jpg) repeat-x;
 }
 
.list_13  .list_13_bottom{
  width:368px;
  overflow:hidden;
  border:1px solid #dedede;
  border-top:none;
}
 
.list_13 ul{
  height:100%;
  width:400px;
  overflow:hidden;
  border:none;
  padding:20px 0px 5px 15px;
  }
  
.list_13 ul li{
  height:162px;
  width:160px;
  padding-right:18px; 
  } 
  
.list_13 ul li img{
  height:120px;
  width:160px;
  display:block;
  margin:0 auto;
  } 

.list_13 ul li span{
   height:40px;
   width:160px;
   line-height:40px;
   text-align:center;
   display:block;   
   font-size:12px;
   color:#666;
  }

.list_13 ul li span a{
  font-size:12px;
  color:#666;
  }
  
.list_13 ul li span a:hover{
  color:#ff0000;
  }  		

/*-----样式(14)------*/		

.list_14{
   width:601px;
   height:100%;
   float:right;
   overflow:hidden;
   margin-top:10px;
   border:1px solid #dedede;
   background:url(../images/bj2.jpg) repeat-x;
 }

.list_14 .box{
   background:url(../images/bj2.jpg) repeat-x;
    border:1px solid #fff;
} 
 
.list_14 .title{
  padding-top:5px;
 }
 
.list_14 .title h2 a{
  color:#333;
 }
 
.list_14 .title span a{
  color:#666;
 }
  
.list_14  .list_13_bottom{
  width:601px;
  overflow:hidden;
  border-top:none;
}
 
.list_14 ul{
  height:100%;
  width:603px;
  overflow:hidden;
  border:none;
  padding:10px 0px 10px 15px;
  }
  
.list_14 ul li{
  height:105px;
  width:100px;
  padding-right:18px; 
  } 
  
.list_14 ul li img{
  height:75px;
  width:100px;
  display:block;
  margin:0 auto;
  } 

.list_14 ul li span{
   height:35px;
   width:100px;
   line-height:35px;
   text-align:center;
   display:block;   
   font-size:12px;
   color:#666;
  }

.list_14 ul li span a{
  font-size:12px;
  color:#666;
  }
  
.list_14 ul li span a:hover{
  color:#ff0000;
  }
 	
/*-----样式(15)------*/				

.list_15{
   width:630px;
   height:100%;
   float:left;
   overflow:hidden;
   border:1px solid #dedede;
 }
 
.list_15  .list_15_bottom{
  width:626px;
  overflow:hidden;
  padding:1px;
  border:1px solid #FFFFFF;
  background:url(../images/bj2.jpg) repeat-x;
}

.list_15_bottom .top{
  width:626px;
  overflow:hidden;
  padding:8px;
}

.list_15_bottom .top h2{
  height:30px;
  font-size:14px;
  color:#333333;
}

.list_15_bottom .top h3{
  height:25px;
  font-size:14px;
  color:#333333;
}

.list_15_bottom .top p{
  line-height:18px;
  color:#666666;
  padding-right:15px;
}

.list_15_bottom .top p a{
  color: #FF3399;
}

.list_15_bottom .top img{
  width:240px;
  height:180px;
  float:left;
  padding:0px 15px 0px 0px;
  }
 
.list_15 ul{
  height:100%;
  width:650px;
  overflow:hidden;
  border:none;
  padding:10px 0px 5px 10px;
  }
  
.list_15 ul li{
  height:140px;
  width:144px;
  padding-right:10px; 
  } 
  
.list_15 ul li img{
  height:108px;
  width:144px;
  display:block;
  margin:0 auto;
  } 

.list_15 ul li span{
   height:40px;
   width:144px;
   line-height:40px;
   text-align:center;
   display:block;   
   font-size:12px;
   color:#666;
  }

.list_15 ul li span a{
  font-size:12px;
  color:#666;
  }
  
.list_15 ul li span a:hover{
  color:#ff0000;
  }  
 

/*-----样式（16)------*/		

.list_16{
   width:340px;
   height:100%;
   float:right;
   overflow:hidden;
   border:1px solid #dedede;
 }
 
.list_16 .box{
   background:url(../images/bj2.jpg) repeat-x;
    border:1px solid #fff;
}
 
.list_16 .title{
  padding-top:5px;
 }
  
.list_16 .title h2 a{
  color:#333;
 }
 
.list_16 .title span a{
  color:#666;
 }
  
.list_16  .list_16_bottom{
  width:340px;
  overflow:hidden;
  border-top:none;
}
 
.list_16 ul{
  height:100%;
  width:350px;
  overflow:hidden;
  border:none;
  padding:10px 0px 0px 10px;
  }
  
.list_16 ul li{
  height:150px;
  width:155px;
  padding-right:10px; 
  } 
  
.list_16 ul li img{
  height:116px;
  width:155px;
  display:block;
  margin:0 auto;
  } 

.list_16 ul li span{
   height:35px;
   width:155px;
   line-height:35px;
   text-align:center;
   display:block;   
   font-size:12px;
   color:#666;
  }

.list_16 ul li span a{
  font-size:12px;
  color:#666;
  }
  
.list_16 ul li span a:hover{
  color:#ff0000;
  } 
  
  
 /*----------------------结束！------------------------*/




 
 /*----------------------mainBody_4滚动图片-------------------*/

.mainBody_4{
margin:0 auto;
width:930px;
height:60px;
overflow:hidden;
padding-top:13px;
}


 #demo {
	height:60px;
	float:left;
	width:950px;
	overflow:hidden;
}

#demo img {
	width:180px;
	height:52px;
	border:1px solid  #E4E5E6;
	margin-left:10px;
}


/*----------------------结束！------------------------*/

.flink{
  border:1px solid #dedede;
  }
.flink .box{
  background:#f4f4f4;
  padding:15px 10px;
  border:1px solid #fff;
  }
  
.flink li{
  white-space:nowrap;
  }

.flink li a{
  height:20px;
  line-height:20px;
  padding-right:10px;
  }



/*-----*/


